
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Laptop","Details","Products", new { techGadget = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Tablet","Details","Products", new { techGadget = "Tablet"}, null)</li>
    <li>@Html.ActionLink("Desktop","Details","Products", new {techGadget = "Desktop" }, null)</li>
   </ul>

